/* styles for my resume */

BODY {
  font-family: 'Open Sans', arial, sans-serif;
}

.banner {
  display: block;
  margin: 0 auto;
  width: 100%;
}

.profile {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  border-radius: 50%;
}

p {
  font-family: 'Barlow', sans-serif;
}

.sectionheader {
  font-size:2em;
  text-transform:uppercase;
  text-align:center;
  color:black;
  border-bottom: 2px solid black;
  width:60%;
  min-width:300px;
  margin:0 auto;
  font-weight: 600;
}

.jobtitle {
  font-size:1.5em;
  font-weight:600;
  color: black;
}

.organization {
  font-size:1.25em;
  font-weight:400;
  color: maroon;
}

.date {
  font-style:italic;
  font-size:1em;
  font-weight:400;
  margin-top:2px;
  margin-bottom:0px;
  margin-right:0px;
  margin-left:0px;
}

.description {
  margin-top:10px;
  margin-bottom:10px;
  margin-right:0px;
  margin-left:0px;
}

.menu {
  margin:0px;
  padding:0px;
  text-align:center;
}

.menu li {
  display: inline;
}

#do {
  margin-top:5px;
  margin-bottom:0px;
  margin=right:0px;
  margin-left:0px;
  list-style-position: center;
  text-align: center;
}
